<!--
  Generated template for the StockAddTickerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stock Add/List View</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 Add Ticker
  
    <form #stockForm="ngForm" novalidate>
	  	 
         <ion-item><ion-label   color="primary">Ticker</ion-label><ion-input [(ngModel)]='stock.ticker' name='ticker' type=text #ticker='ngModel' required></ion-input></ion-item>
        <p ion-text [hidden]="ticker.valid || submitted == false" color="danger" padding-left>
					Ticker is required
        </p>
       <ion-item><ion-label  color="primary">Last Quote</ion-label><ion-input [(ngModel)]='stock.last' name='last' type=text #last='ngModel' required></ion-input></ion-item>
        <p ion-text [hidden]="last.valid || submitted == false" color="danger" padding-left>
					Last quote is required
        </p>
        <ion-item>
        <ion-label  color="primary">Status</ion-label>
        <ion-select  [(ngModel)]="stock.status" name="status" id="status">
          <ion-option value="active">Active</ion-option>
          <ion-option value="pending">Pending</ion-option>
        </ion-select>
        </ion-item>
       <!--  <ion-item><ion-label  color="primary">Status</ion-label><ion-input [(ngModel)]='stock.status' name='status' type=text #status='ngModel' required></ion-input></ion-item> -->
        <ion-item><ion-label  color="primary">Ticker Desc</ion-label><ion-input [(ngModel)]='stock.tickerDesc' name='tickerDesc' type=text #tickerDesc='ngModel'  ></ion-input></ion-item>
        <ion-item><ion-label  color="primary">Filled At</ion-label><ion-input [(ngModel)]='stock.filledAt' name='filledAt' type=text #filledAt='ngModel'  ></ion-input></ion-item>
        <ion-item><ion-label  color="primary">Filled At Out</ion-label><ion-input [(ngModel)]='stock.filledAtOut' name='filledAtOut' type=text #filledAtOut='ngModel'  ></ion-input></ion-item>
        <ion-item><ion-label  color="primary">Qty</ion-label><ion-input [(ngModel)]='stock.qty' name='qty' type=text #qty='ngModel'  ></ion-input></ion-item>
       
       
        <div padding>
			<button ion-button  color="secondary" (click)="onCreate(stockForm)" type="submit" block>Create</button>
		</div>
  </form>
  
    <!--  <div *ngIf="show"  data-item="#i" > -->
   <ion-list>
      <span *ngFor="let i of stocks2 | async"  ion-item   class="item item-icon-left item-icon-right"   >
        {{i.ticker}}   
      <input type="text" name="{{i.$key}}" value="{{i.filledAt}}" (blur)="updateFillAt($event.target.value, i)" />
     <ion-badge   style="float: right;" > {{i.qty}} </ion-badge>
      <ion-badge color="secondary" style="float: right;padding-right:5px;"   (click)="updateTicker(i)"> {{i.status}} </ion-badge>
      <ion-icon name="trash" style="float: right;"  (click)="removeTicker(i)"></ion-icon>
      <ion-icon name="checkmark" style="float: right;"  (click)="updateFillAt(i)"></ion-icon>
    </span>
  </ion-list>
    <!--  </div> -->
    
</ion-content>
