$colors: (
  primary:    #488aff,
  blueMedium:    #6fa1f7,
  blueLite:    #96baf7,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #ccc,
  favorite:   #69BB7B,
  headers: #488aff,
);