 
<ion-header>

  <ion-navbar>
    <ion-title>{{category.name}} Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class=" ">
  
  <div text-left>
 
    <ion-item  style="background-color:#f9f9f9 ">  {{category.name}} has   <ion-badge    > {{category.total}} </ion-badge> items.  </ion-item>  
    <br>
  <ion-grid style="text-align:left;">
    <ion-row>
       <ion-col style="background-color:crimson;width:100%;color:white;font-size:20px;">2204356</ion-col>
    </ion-row>
  <ion-row>
    
    <ion-col style="color:#ccc;font-size:14px"  >
    LOCATION
    </ion-col>
    <ion-col style="color:#ccc;font-size:14px;">
     SHIP DATE
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="color:#000;font-size:16px;font-weight:bold">
    Sam's Club #2341
    </ion-col>
    
    <ion-col style="color:#000;font-size:16px;font-weight:bold">
     8/20/2017
    </ion-col>
  </ion-row>
</ion-grid>
  
<ion-item> 
  <ion-item-group *ngFor="let item of allCategories.transfers">
       <div style="width:100%;background-color:crimson;width:100%;color:white;font-size:20px;">{{item.ref}} 
       </div>
        <div class="col-5" style="color:#000;font-size:16px;font-weight:bold;clear:both;">
          LOCATION 
              {{item.location}} 
  
      </div>
      <span *ngFor="let i of item.item" ion-item (click)="goToInventoryDetail(category)" >
        {{i.name}}  {{i.qty}} 
     <ion-badge  style="float: right;" > {{i.cost}} </ion-badge> </span>
     
    </ion-item-group>

</ion-item>
  </div>

 <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul>
</ion-content>
